$acd: #F4A17B; // accent-color-dark
$acm: #FAB798; // accent-color-medium
$acl: #FFCBB4; // accent-color-light
$title-color: #383838;
$hover-color: #F1813D;

:root {
  font-size: 10px;
  color: #000000;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrapper__content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  height: inherit;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;    
  background: #F4A17B;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: #fff;
  transition: all .2s;
  &:hover {
    background-color: $hover-color;
  }
}
// *********************** start slick

.slick-slide {
  box-shadow: 0px 0px 15px rgba(167, 167, 167, 0.26);
  margin-left: 29px;
}

.slick-list.draggable {
  padding: 15px 0;
  width: 102%;
  padding-left: 1%;
  transform: translateX(-1%);
}

// *********************** end slick
// *********************** start section
// *********************** end section
// *********************** start section
// *********************** end section

.section {
  &__title {
    font-size: 2.6rem;
    line-height: 3.1rem;
    text-transform: uppercase;
    color: $title-color;
  }
  &__text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }  
  &__tabs {
    display: flex;
    justify-content: space-between;
  }
  &__tab {
    padding: 5px 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: #9E9E9E;
    &.active {
      color: #000;
    }
  }
  &__slider {
    position: relative;
  }
  &__arrow {
    position: absolute;
    padding: 1rem;
    top: 50%;
    transform: translateY(-50%);
    stroke: $title-color;
    z-index: 1;
    outline: none;
    &.slick-prev {
      left: -6rem;
    }
    &.slick-next {
      right: -5.1rem;
    }
    &.slick-disabled {
      opacity: .5;
    }
  }
}

//************************** start header
.header {
  box-shadow: 0px 0px 20px rgba(244, 161, 123, 0.18);
  &__title {
    font-size: 0;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      position: absolute;
      bottom: 0;
      left: auto;
      width: 100%;
      height: 1px;
      background-color: #dadada;
      content: '';
    }
  }
  &__tel-link {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  &__icons {
    display: flex;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    z-index: 1;
    cursor: pointer;
    transition: all .2s;
    &.instagram {
      margin-right: 1.5rem;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.search {
      background-color: $acl;
    }
    &.user {
      background-color: $acm;
    }
    &.cart {
      background-color: $acd;
    }
    &:not(.instagram):hover {
      background-color: $hover-color;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .8rem;
    padding-bottom: 1.4rem;
  }
  &__logo-img {
    height: 4.5rem;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 5px 0;
    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }
  &__drop-text {
    margin-right: .8rem;
  }
  &__link {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    cursor: pointer;
  }
}
//************************** end header
//************************** start land

.land {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -20px;
  height: 71vh;
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__box {
    max-width: 480px;
  }
  &__title {
    margin-bottom: 1.9rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.8rem;
    color: $title-color;
  }
  &__text {
    margin-bottom: 3.1rem;
    max-height: 24rem;
    overflow: hidden;
  }
  &__link {
    width: 18.4rem;
    height: 5.1rem;
  }
  &__bottom-curve {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
  }
}

//************************** end land
//************************** start dinner

.dinner {
  position: relative;
  padding-bottom: 11rem;
  &__title-box {
    margin: 0 auto;
    max-width: 37.5rem;
    text-align: center;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__slider-wrapper {
  }
  &__days {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }
  &__day {
  }
  &__slider {
  }
}

//************************** end dinner

//************************** start menu

.menu {
  &__item {
    overflow: hidden;
    border-radius: 5px;
  }
  &__img-box {
  }
  &__img {
  }
  &__descr {
    width: 270px;
    padding: 17px 16px 15px;
  }
  &__name {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1.7rem;
  }
  &__nums {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.6rem;
  }
  &__weight {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  &__cost {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  &__bottom {
    min-height: 35px;
  }
  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__count-box {
  }
  &__operator {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $acd;
    cursor: pointer;
    transition: all .2s;
    &:hover {      
      color: $hover-color;
    }
    &--minus {
    font-size: 3rem;
    }
  }
  &__counter {
    font-size: 2.4rem;
    line-height: 2.4rem;
    padding: 0 .2rem;
  }
  &__btn {
    width: 11.4rem;
    height: 3.5rem;
  }
  &__special {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.5rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $acd;
  }
}

//************************** end menu


//************************** start main-menu

.main-menu {
  position: relative;
  padding-bottom: 11rem;
  background-color: #fafafa;
  &__title-box {
    margin: 0 auto;
    max-width: 37.5rem;
    text-align: center;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__slider-wrapper {
  }
  &__types {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }
  &__day {
  }
  &__slider {
  }
}

//************************** end main-menu


//************************** start footer

.footer {
  background-color: #ccc;
  height: 40rem;
}

//************************** end footer
